.box{width:100px;height:100px;background-color:#0000FF;position: absolute;z-index:1;left:0;top:0}
.box.active{background-color:#FF0000;}
.btn-bg{background-color: #0000FF;}
.banner{width: 800px; height: 350px;}

.test{width: 800px; height: 350px;}
.test img{width: 100%;height: 100%;}