.box{width:100px;height:100px;background-color:#0000FF;position: absolute;z-index:1;left:0;top:0}
.box.active{background-color:#FF0000;}
.btn-bg{background-color:#0000FF!important;}
/*.my-button{width:1000px!important;height:100px!important;}*/
.banner{width:800px;height:350px;}
.app{width:100vw;height:100vh;background-color:#FF00FF;}