*
    margin 0
    padding 0

html, body
    height 100%

html 
  font-size 10px
  background url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1587050973031&di=f12702e001832add1dad26b5c1d1b9d7&imgtype=0&src=http%3A%2F%2Fbbs.jooyoo.net%2Fattachment%2FMon_0905%2F24_65548_2835f8eaa933ff6.jpg) bottom center no-repeat
  background-size cover

  .keys
      display: -webkit-flex
      display flex
      min-height 100vh
      align-items center
      justify-content: center

.key
    margin: 1rem
    border .4rem solid #000
    border-radius: 0.5rem
    font-size: 1.5rem
    padding 1rem 0.5rem
    width 10rem
    text-align: center
    color: #ffffff
    background: rgba(0,0,0,.4)
    text-shadow: 0 0 .5rem black
    transition: all .07s ease
  div
    display: block
    font-size: 4rem
 .sound
     font-size: 1.2rem
     text-transform: uppercase
     letter-spacing: 0.1rem
     color #ffc600
